<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--mybatis的主配置文件-->
<configuration>
    <!--配置环境-->
    <environments default="mysql">
        <!--配饰mysql环境-->
        <environment id="mysql">
            <!--配置事务类型-->
            <transactionManager type="JDBC"></transactionManager>
            <!--配置数据源(连接池)-->
            <dataSource type="POOLED">
                <!--配置连接数据库的4个基本信息-->
                <property name="driver" value="com.mysql.jdbc.Driver"/><!--数据库驱动--> <!--(下面)安全链接，支持unicode编码，字符编码集，还需要设置个时区?useSSL=true&amp;useUnicode=true&amp;characterEncoding=UTF-8-->
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis" /> <!--驱动url-->
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <!--指定映射配置文件的位置，映射配置文件指的是每一个dao独立的配置文件-->
    <mappers >
        <mapper class="org.example.Dao.UserDao"></mapper>
    </mappers>
</configuration>
